body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

h1 {
    font-size: 48px;
    text-shadow: 1px 1px dodgerblue;

}

div {
    margin: 20px; 
    text-shadow: 1px 1px lightcyan;
}
.inputs {
    display: flex; 
    align-items: center;
    flex-direction: column;
}
input {
    font-family: inherit;
    font-size: inherit;
    width:fit-content;
    height: fit-content;
    text-align: center;
    margin: 10px;
    border-radius: 0px;
    border: 2px solid black;
    box-shadow: 3px 5px dodgerblue;
}

input#res-input:focus {
    outline: 4px solid darkblue !important;
    border: 2px solid darkblue;
    border-radius: 0px;
}

input#emp-input:focus {
    outline: 4px solid blue !important;
    border: 2px solid blue;
    border-radius: 0px;
}

input#end-input:focus {
    outline: 4px solid lightblue !important;
    border: 2px solid lightblue;
    border-radius: 0px;
}
button {
    background:azure;
    text-shadow: 1px 1px lightcyan;
    font-size: 1.2rem;
    font-family: inherit;
    font-weight:bold;
    padding: 10px;
    border: 2px solid black;
    box-shadow: 3px 5px dodgerblue;
}

button:focus {
    outline: 4px solid mediumorchid !important;
    border: 2px solid orchid;
    border-radius: 0px;
}
.img {
    width: 500px;
    height: 500px;
}
.res-img-div {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid darkblue;
    background: darkblue;
    z-index: 1;
    position: absolute;
    margin: auto;
}

#res-img {
    width: 600px;
    height: 600px;
}

#emp-img {
    width: 600px;
    height: 600px;
}

#end-img {
    width: 600px;
    height: 600px;
    transform: translate(-100px, 0);
}
.emp-img-div {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid blue;
    background: blue;
    z-index: 2;
    position: absolute;
    transform: translate(50px, 50px);
    padding: 0;
    margin: 0;
}

.end-img-div {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid lightblue;
    background: lightblue;
    z-index: 3;
    position: absolute;
    transform: translate(100px, 100px);
    padding: 0;
    margin: 0;
}


#center {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 0;
    background:azure;
    margin: auto;
    z-index: 4;
    position: absolute; 
    text-shadow: none;
    transform: translate(150px, 150px);
    text-align: center;
}

#face {
    position: absolute;
    transform: translate(-104px, -117px);
    color:darkblue;
    font-size: 280px;

}